<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruijian.disk.mapper.CloudFolderMapper">
  <resultMap id="BaseResultMap" type="com.ruijian.disk.pojo.CloudFolder">
    <id column="folder_id" jdbcType="BIGINT" property="folderId" />
    <result column="file_folder_name" jdbcType="VARCHAR" property="fileFolderName" />
    <result column="parent_folder_id" jdbcType="BIGINT" property="parentFolderId" />
    <result column="ftp_folder_name" jdbcType="VARCHAR" property="ftpFolderName" />
    <result column="portal_user_id" jdbcType="BIGINT" property="portalUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="group_id" jdbcType="BIGINT" property="groupId" />
    <result column="folder_type" jdbcType="INTEGER" property="folderType" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    folder_id, file_folder_name, parent_folder_id, ftp_folder_name, portal_user_id, create_time, 
    update_time, group_id, folder_type, is_delete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cloud_folder
    where folder_id = #{folderId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cloud_folder
    where folder_id = #{folderId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ruijian.disk.pojo.CloudFolder">
    insert into cloud_folder (folder_id, file_folder_name, parent_folder_id, 
      ftp_folder_name, portal_user_id, create_time, 
      update_time, group_id, folder_type, 
      is_delete)
    values (#{folderId,jdbcType=BIGINT}, #{fileFolderName,jdbcType=VARCHAR}, #{parentFolderId,jdbcType=BIGINT}, 
      #{ftpFolderName,jdbcType=VARCHAR}, #{portalUserId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{groupId,jdbcType=BIGINT}, #{folderType,jdbcType=INTEGER}, 
      #{isDelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ruijian.disk.pojo.CloudFolder">
    insert into cloud_folder
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="folderId != null">
        folder_id,
      </if>
      <if test="fileFolderName != null">
        file_folder_name,
      </if>
      <if test="parentFolderId != null">
        parent_folder_id,
      </if>
      <if test="ftpFolderName != null">
        ftp_folder_name,
      </if>
      <if test="portalUserId != null">
        portal_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="folderType != null">
        folder_type,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="folderId != null">
        #{folderId,jdbcType=BIGINT},
      </if>
      <if test="fileFolderName != null">
        #{fileFolderName,jdbcType=VARCHAR},
      </if>
      <if test="parentFolderId != null">
        #{parentFolderId,jdbcType=BIGINT},
      </if>
      <if test="ftpFolderName != null">
        #{ftpFolderName,jdbcType=VARCHAR},
      </if>
      <if test="portalUserId != null">
        #{portalUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=BIGINT},
      </if>
      <if test="folderType != null">
        #{folderType,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ruijian.disk.pojo.CloudFolder">
    update cloud_folder
    <set>
      <if test="fileFolderName != null">
        file_folder_name = #{fileFolderName,jdbcType=VARCHAR},
      </if>
      <if test="parentFolderId != null">
        parent_folder_id = #{parentFolderId,jdbcType=BIGINT},
      </if>
      <if test="ftpFolderName != null">
        ftp_folder_name = #{ftpFolderName,jdbcType=VARCHAR},
      </if>
      <if test="portalUserId != null">
        portal_user_id = #{portalUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=BIGINT},
      </if>
      <if test="folderType != null">
        folder_type = #{folderType,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
    </set>
    where folder_id = #{folderId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ruijian.disk.pojo.CloudFolder">
    update cloud_folder
    set file_folder_name = #{fileFolderName,jdbcType=VARCHAR},
      parent_folder_id = #{parentFolderId,jdbcType=BIGINT},
      ftp_folder_name = #{ftpFolderName,jdbcType=VARCHAR},
      portal_user_id = #{portalUserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      group_id = #{groupId,jdbcType=BIGINT},
      folder_type = #{folderType,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=INTEGER}
    where folder_id = #{folderId,jdbcType=BIGINT}
  </update>
</mapper>